<% if( typeof msg !=='undefined' ){%>

<div class="notification">
    <div class="custom-msg alert alert-<%= msgType%>">
        <span class="fas fa-exclamation-circle custom-msg-icon"></span>
        <span class="msg"><%= msg%></span>
    </div>
</div>
<script>
    let msgDiv = document.querySelector('.custom-msg');
    msgDiv.classList.add('show-animation', 'showAlert');
    setTimeout(() => {
        msgDiv.classList.add('hide-animation')
        msgDiv.classList.remove('show-animation');
        if (msgDiv) {
            setTimeout(() => { msgDiv.remove() }, 1000);
        }
    }, 4000);
</script>
<%}%>